<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.Mobiledevelopment.Needs&knowsoffirstaidtraining"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Needs & knows of First Aid</name>

  <description>
      Basic descriptions of first aid
  </description>

  <author>
      Hamish Orr Ewing
  </author>
  <content src="index.html" />
  <access origin="*" />
  <platform name="android" />

</widget>