
#header{
		background-color:#2875A8;
		color:white;
		text-align:centre;
		padding:5px;
}
/* This chooses the background colour, text colour, where it is and the distance from the sides when in the header div  */
a:visited 
		{
		text-decoration:none;
		color: #000000;
		}

a:link
		{
		text-decoration:none;
		color: #000000;
		}
a:hover
		{
		text-decoration:underline;
		color: #000000;
		}
a:active
		{
		text-decoration:underline;
		color: #000000;
		}
/* these four change the a tag when it is, active, hovered over, a link or when visited */
.floatright{
float:right;
width: 100px
margin 10px 10px 10px 10px
background-color: #fff
border: 1px solid #666;
border-color:#2875A8;
padding: 2px;
}
/* this div is for the logo and places it too the right and gives a border and padding */
#section {
		width:75%;
		float:left;
		padding:10px;
		border: 10px solid #2875A8;
		background-color:white;
		text-align:left;
		}
#article {
		width:80%;
		float:left;
		padding:10px;
		background-color:white;
		text-align:center;
}
/* these are two divs which are used on the contact us page and the stylesheet pag */

#accordion {
   margin:20px auto;
   padding:0px;
   width:922px;
   }
 
#accordion li {
   list-style:none;
   }
 
#accordion li.content {
   margin:0;
   padding: 10px;
   border: 1px solid #efefef;
   background: #FFF;
   }
 
#accordion li.title {
   padding:10px;
 
   font-size:1.2em;
   line-height:2em;
   color:#FFF;
 
   background: #3498db;
   border-bottom: 1px solid #2980b9;
   }
 
#accordion .hide {
	display:none;
	width:900px;
	float:left;
	padding:20px;
	border: 10px solid navy;
	}
	/* these five control the accordion how far it is from the top how wide it is, the colour and font size. */
	#nav {
		line-height:30px;
		background-color:#eeeeee;
		height:345px;
		width:150px;
		float:left;
		padding:5px;
		font: 400 14px/1.5 'Helvetica';
		color:red;
	}

#nav li {
	padding: 8px;
    margin-bottom: 7px;
    background-color :#ffffff;
    color: #000000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
		/* these three control the nav bar and it is done in a list format*/
#footer {
		background-color:#2875A8;
		color:white;
		clear:both;
		text-align:centre;
		padding:5px;
		height:250px;
		}
		/* this is basically the same as the header but as the bottom */
.leftbutton
{
background-color:#3498db;
width:40px;
float:left;
text-align:center;
color:#fff;}
.rightbutton
{
background-color:#3498db;
float:right;
width:40px;
text-align:center;
color:#fff;}
/* these are for two buttons in the footer the back button and the next button */
h1 {
	font: 400 50px/0.5 'verdana';
    color:white;
	margin:30px;
	text-align: center;
	}

	p {
	font: 400 14px/1.5 'Helvetica';
	color:black;
	font-family:ariel;
	text-align:center
}
img{
	margin-left:auto;
	margin-right:auto;
}

body {background-color:lightgrey}
/* these final bits are for the precise tags and how i want them laid out */